# Ignore the entire CMake build directory
build-*/

# If you ever accidentally build in the root, ignore these specific targets
/.cmake/
/CMakeCache.txt
/CMakeFiles/
/CMakePresets.json
/develop-build/
/cmake_install.cmake
/Makefile
/ninja.build
*.exe
*.out
*.o
*.obj
*.pdb
*.ilk
*.bin
*.html

# Ignore local VS Code configurations
.vscode/